<!-- /templates/index.liquid -->
{% comment %}
  Define your section markup, using `section.settings.[setting_name]` to access specific settings.
  * Sections do not have access to global liquid variables.
{% endcomment %}

{% assign slider_enabled = true %}

  {% section 'slideshow' %}

  <div class="hero__header">
   <div class="action-area">
     {% include 'action-bar' %}
   </div>
 </div>
</div>
{{ content_for_index }}


{% if customer %}
<div id="login-ok"></div>
{% endif %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
  
  function setCookie(key, value) {  
    var expires = new Date();  
    expires.setTime(expires.getTime() + 604800);  
    document.cookie = key + '=' + value + ';expires=' + expires.toUTCString() + ';path=/';  
  } 


  $(function(){
  
        
    $('#h-page-sb').click(function(){
      setCookie('user_wants_subscription', '1');  
    
      if($('#login-ok').length>0){
        // alert('go for login');

        window.location.href="https://peachiieshop.com/pages/sub_payment";
        
      
      } else {
        window.location.href="https://peachiieshop.com/account";
      }
    
    })
  })
</script>

<script>
  
  function getCookie(name) {
    // Split cookie string and get all individual name=value pairs in an array
    var cookieArr = document.cookie.split(";");
    
    // Loop through the array elements
    for(var i = 0; i < cookieArr.length; i++) {
        var cookiePair = cookieArr[i].split("=");
        
        /* Removing whitespace at the beginning of the cookie name
        and compare it with the given string */
        if(name == cookiePair[0].trim()) {
            // Decode the cookie value and return
            return decodeURIComponent(cookiePair[1]);
        }
    }
    
    // Return null if not found
    return null;
}
  
   console.log('refree_pr_id = ',getCookie('refree_pr_id'));
  
   if (getCookie('refree_pr_id')!=null) {
        //
        setTimeout(function(){ window.location.href="https://peachiieshop.com/pages/sub_payment" }, 0);
      }
//console.log(getCookie("refree_sub_id"));
  
</script>